:root {
	--color-one: #ff8484;
	--color-two: #f7d9c4;
	--color-text: #232323;
	--bg1: #dce8eb;
	--bg2: #efefef;
	--font: "DM Sans", sans-serif;
}
body {
	font-family: var(--font);
}
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
.container {
	width: 100%;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
@keyframes icons {
	from {
		width: 120px;
		height: 120px;
		opacity: 0.8;
	}
	to {
		width: 160px;
		height: 160px;
		opacity: 0;
	}
}
